@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body {
    font-family: "Raleway", Georgia, Serif;
    text-align: center;
    font-size: 18px;
}

.star {
    padding-top: 1em;
    font-size: 25px;
    color: #4775FF;
}

.inline {
    display: inline;
}

h3 .inline {
    margin-right: 0.25em;
}

.container h1 {
    padding: 0.2em;
    font-weight: bold;
}

.container h2 {
    padding-bottom: 1em;
}

.form-group {
    text-align: left;
}

#img-title {
    width: 100%;
    overflow: hidden;
}

.container img { 
    width: 100%;
    opacity: 0;

}

.rightSide {
    padding: 1em;
    float: right;
}

.move {
    display: inline;
    padding-left: 1.5em;
    padding-right: 1.5em;
    padding-bottom: 2em;
}

.review-group {
    background-color: #eee;
}

p {
    padding-bottom: 0.5em;
}

.review-group h3, p, .review-star {
    padding-left: 1em;
}

@media screen and (max-width: 768px) {
    .container img {
        display: none;
    }
}