@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);

body {
    font-family: "Raleway", Georgia, Serif;
    background: #eee;
    text-align: center;
}

.container h1 {
    font-weight: bold;
}

.container h2 {
    padding-bottom: 1em;
}

.form-group {
    text-align: left;
}

.container { 
    width: 418px; 
    height: 400px; 
    overflow: hidden; 
}
.container img { 
    margin-top: -90px;
    width: 100%;
    opacity: 0;
}