@import url(https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,300);
@import url(https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css);


body {
    font-family: "Raleway", Georgia, Serif;
    text-align: center;
}

#star-rating {
    font-size: 25px;
}

.container h1 {
    font-weight: bold;
}

.container h2 {
    padding-bottom: 1em;
}

.form-group {
    text-align: left;
}

#img-title {
    width: 100%;
    overflow: hidden;
}

.container img { 
    width: 100%;
    opacity: 0;

}

@media screen and (max-width: 768px) {
    .container img {
        display: none;
    }
}